body{
    text-align: center;
    padding-top: 800px;



}
#name{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white;
}
#img1{
    width: 250px;
    border-radius: 50%;
    height: 200px;
    padding-top: 50px;

}
#section1{
    position:absolute;
    overflow:hidden;
    height: 800px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background:linear-gradient(rgb(51, 238, 238),rgb(36, 55, 223) 100%);
    opacity:1;
    height: 100%;
}
#text{
    position:relative;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    padding-top: 50px;
}
p{
    max-width: 900px;
    font-size: 25px;
    margin-left: 280px;;
}

h2{
    margin-left: 240px;; 
}
.line{
    background-color: black;
    height: 10px;
    width: 200px;
    margin-left: 600px;
 }
  #bio{
     margin-left: 10px;
 }
 
 #section2{
     background-color: grey;
 }
 #menu{
    top: 0px;
    position: fixed;
   z-index: 10;
   list-style: none;
   width: 100%;
   background-color: white;
   margin-top: 0px;
}
.list{
    display:inline;
    font-size: 20px;
    padding:5px;
}
html{
    scroll-behavior: smooth;
}

 marquee{
     text-align: center;
     font-size: 30px;
 }